# Dependency directories (تجاهل المكتبات في أي مكان)
node_modules/

# Environment variables (تجاهل ملفات الأسرار - هامة جداً لـ Cloudinary و MongoDB)
.env
.env.local
.env.production

# Build outputs (تجاهل ملفات الإنتاج الخاصة بالفرونت)
frontend/dist/
frontend/build/

# Operating System files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

repomix-output.xml
# استثناء مجلد صور المنتجات المحلي لمنع تضخم حجم المشروع على GitHub
frontend/public/images/products/